# Node
node_modules/
dist/
build/
.next/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
venv/
.env
.env.local

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads / temp
temp/
tmp/